$white: rgb(240, 240, 255);
$gray: rgb(90, 107, 107);
$accent: lighten(#385179, 30);
$dark-blue: #223843;
// $button: #5D69FD;
$button: rgb(20, 151, 147);
// $accent rgb(134, 245, 8)
$background: rgba(43, 62, 92, 1);