@import url('https://fonts.googleapis.com/css?family=Space+Mono:100,400,700i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,500');
@import url('https://fonts.googleapis.com/css?family=Merienda');

$ff-ms: 'Space Mono', monospace;
$ff-ss: 'Raleway', sans-serif;
$ff-cur: 'Merienda', cursive;

$fw-n: 400;
$fw-b: 900;

@mixin sans-serif($fs, $ls: .15em, $color: $white, $lh: 1, $fw: $fw-n) {
    font-size: $fs;
    letter-spacing: $ls;
    color: $color;
    line-height: $lh;   
    font-family: $ff-ss;
    font-weight: $fw;
}


