.contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-color: rgba(43, 62, 92, 1);
    // background-color: rgba(36, 143, 155, 0.9);
    background-size: cover;

}