#smove_popup > div, #chor_popup > div, #daily_popup > div, #luke_popup > div, #learnyoutube_popup > div, #gento_popup > div {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    height: 100%;
    min-height: 700px;
    min-width: 90vw;
    color: $white;
    background-color: $dark-blue;
    text-align: center;
}

.smove_popup_close {
    background-color: rgba($white, 0);
    border: none;
    outline: 0;
}

#smove_popup, #chor_popup, #daily_popup, #luke_popup, #learnyoutube_popup, #gento_popup {
    transform: scale(0.8);
    
  }

.content_wrapper {
    display: flex;
    flex-direction: row;
}

.popup_text,
.popup_links {
    margin-top: 2em;
    margin-left: 1em;
    width: 50%;

    p {
        font-family: $ff-ss;
        font-size: 20px;
        width: 98%;
        border-top: 1px solid $white;
        padding-top: 1em;
        padding-bottom: 2em;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    a:link, a:visited, a:active {
        color: $accent;
    }

    a:hover {
        color: $white;
    }
}

.popup_text > div,
.popup_links > div {
    height: 250px;
}

.projects {
    background-color: #2b3e5c;
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23385179' fill-opacity='0.5'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding: 3vw 15vw;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
       
      #filters {
          padding: 0;
          list-style: none;
          text-align: center;
          z-index: 10;
      }
      
          #filters li {
            display: inline-block;
            z-index: 10;
          }
          
          #filters li span {
              display: block;
              padding:5px 20px;
              border: 1px solid $white;
              font-size: 20px;	
              text-decoration:none;
              color: $white;
              cursor: pointer;
          }

          #filters li span.active, #filters li span:hover{
              background: $white;
              color: $dark-blue;
          }
       
    #portfoliolist {
        margin-bottom: 3em;
    }
       
      #portfoliolist .portfolio {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -o-box-sizing: border-box;
          width:33%;
          margin:2px;
          display:none;
          float:left;
          overflow:hidden;
      }
      
          .portfolio-wrapper {
              overflow:hidden;
              position: relative;
              max-height: 245.63px;
              background: $dark-blue;
              cursor:pointer;
          }

          .portfolio a {
              z-index: 1000;
              color: $accent;
              height: 50px;
              width: 50px;
          }
      
          .portfolio img {
              object-fit: cover;
              width:100%;
              position: relative;
              top:0;
              background-color: green;
            -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
            transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);		
          }
          
          .portfolio .label {
              position: absolute;
              width: 100%;
              height:60px;
              bottom:-60px;
          -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
          transition:         all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
          }
      
            .portfolio .label-bg {
                background: rgba($dark-blue, 0.5);
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left:0;
            }
        
            .portfolio .label-text {
                color:#fff;
                position: relative;
                padding: 0;
                z-index: 100;
                font-size: 20px;
            }
                  
            .portfolio .text-category {
                display:block;
                font-size:14px;
            }
    
        .portfolio:hover .label {
          bottom:0;
        }
        .portfolio:hover img {
          top:-60px;
          opacity:0.3 !important;
          filter:alpha(opacity=70) !important; /* For IE8 and earlier */
        }  


}

@media screen and (max-width: 1738px) {
    .projects {
        padding: 3vw 10vw;
    }
}

@media screen and (max-width: 1498px) {
    .projects {
        padding: 3vw 4vw;
    }
    h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1370px) {
    .projects {
        #portfoliolist .portfolio {
            width:49%;
        }
        .portfolio-wrapper {
            max-height: 345.63px;
        } 
    }
}


@media screen and (max-width: 1040px) {
    h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 816px) {
    h2 {
        font-size: 1.3rem;
    }
    .popup_text,
    .popup_links {
        p {
            font-size: 15px;
        }
    }
}


@media screen and (max-width: 732px) {
    .content_wrapper {
        flex-direction: column;
    }

    .popup_text,
    .popup_links {
        margin-top: 2em;
        margin-left: 0em;
        width: 100%;

        p {
            width: 100%;
        }
    }

    .popup_text > div,
    .popup_links > div {
        height: 150px;
    }
}


@media screen and (max-width: 434px){
    .projects {
        #portfoliolist .portfolio {
            width: 100%;
        }
        .portfolio-wrapper {
            max-height: 245.63px;
        } 
    }
}

@media screen and (max-width: 365px){
    h2 {
        font-size: 1rem;
    }
    .popup_text,
    .popup_links {
        p {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 330px){
    .projects {
        #filters {
            padding: 0;
            list-style: none;
            text-align: center;
            z-index: 10;
        }

        #filters li {
            display: block;
            z-index: 10;
        }
    }
}

